LevelDefinition(
    background_asset: "ship3_003.glb#Scene10",
    background_scroll_velocity: 0.0,
    simultaneous_balls: 1,
    win_criteria: BlockHitPercentage(1.0),
    targets: SparseGrid("ZIR1 .. .. .. CA .. .. .. ZAA1
 ..   .. .. .. CA .. .. .. ..
 ..   .. .. .. CA .. .. .. ..
 ..   .. .. .. CA .. .. .. ..
 ..   .. .. .. CA .. .. .. ..
 ..   .. .. .. CA .. .. .. ..
", 2.0),
    time_limit: None,
    global_pickups: [
        MoreBalls(1),
    ],
    obstacles: [],
    default_wall_l: true,
    default_wall_r: true,
)
